#  MODULE 6:  Data Manipulation

## Merging

In [1]:
from pandas import *
from numpy import *
from scipy import *
import re

In [2]:
# Data Set Merging With one or more keys : Def is Inner Join 
#---------------------------------------------=------------------------
# create DF1

df1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
     'data1': range(7)})
print(df1)

# Create DF2
df2 = DataFrame({'key': ['a', 'b', 'd','a'],
     'data2': range(4)})

print(df2)

  key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   a      5
6   b      6
  key  data2
0   a      0
1   b      1
2   d      2
3   a      3

In [3]:
# Many to Many Merge 
merged_df = merge(df1,df2,on='key') 
merged_df

  key  data1  data2
0   b      0      1
1   b      1      1
2   b      6      1
3   a      2      0
4   a      2      3
5   a      4      0
6   a      4      3
7   a      5      0
8   a      5      3

In [5]:
# Key Col names are different : def is inner Join 
#-----------------------------------------------------
df3 = DataFrame({'Leftkey': ['b', 'b', 'a', 'c', 'a', 'a', 'b'],
     'data1': range(7)})
print(df3)

# Create DF2
df4 = DataFrame({'Rightkey': ['a', 'b', 'd','a'],
     'data2': range(4)})
print(df4)

merged_dfnew = merge(df3,df4,left_on='Leftkey',right_on ='Rightkey') 

merged_dfnew

  Leftkey  data1
0       b      0
1       b      1
2       a      2
3       c      3
4       a      4
5       a      5
6       b      6
  Rightkey  data2
0        a      0
1        b      1
2        d      2
3        a      3

  Leftkey  data1 Rightkey  data2
0       b      0        b      1
1       b      1        b      1
2       b      6        b      1
3       a      2        a      0
4       a      2        a      3
5       a      4        a      0
6       a      4        a      3
7       a      5        a      0
8       a      5        a      3

In [6]:
# Outer Join example 
#-------------------------------------------------------------------------

merged_Outer = merge(df1,df2,how='outer')
merged_Outer

   key  data1  data2
0    b    0.0    1.0
1    b    1.0    1.0
2    b    6.0    1.0
3    a    2.0    0.0
4    a    2.0    3.0
5    a    4.0    0.0
6    a    4.0    3.0
7    a    5.0    0.0
8    a    5.0    3.0
9    c    3.0    NaN
10   d    NaN    2.0

In [7]:
#----------------------------------------------------------------------------
# Merge in Index
#--------------------------------------------------------------------------
LeftDF= DataFrame({'key': ['a', 'b', 'a', 'a', 'b', 'c'],
 'value': range(6)})
print(LeftDF)


RightDF = DataFrame({'group_val': [3.5, 7]}, index=['a', 'b'])
print(RightDF)

Merged_Ind = merge(LeftDF,RightDF,left_on='key', right_index=True)
print(Merged_Ind)

  key  value
0   a      0
1   b      1
2   a      2
3   a      3
4   b      4
5   c      5
   group_val
a        3.5
b        7.0
  key  value  group_val
0   a      0        3.5
2   a      2        3.5
3   a      3        3.5
1   b      1        7.0
4   b      4        7.0

### Concatenation

In [ ]:
#---------------------------------------------------------------------------
#  Concat Array side by side with alternate axis 
#------------------------------------
Arr1 = np.arange(12).reshape((3, 4))
Arr_Stack = concatenate([Arr1, Arr1], axis=1)
Arr_Stack

In [ ]:
#----------------------------------------------------------------------
#  Concat Series : default is Axis = 0 
#---------------------------------------------------------------------
S1 = Series([0, 1], index=['a', 'b'])
S2 = Series([3, 4], index=['c', 'd'])
S3 = Series([5, 9], index=['e', 'f'])

Merged_Ser = concat([S1, S2, S3])
Merged_Ser

In [ ]:
#  Concat Series : Axis = 1  Will convert to Dataframe 
#--------------------------------------------------------------------
Merged_Axis1 = concat([S1, S2, S3], axis=1)
Merged_Axis1

### Removing Duplicates

In [ ]:
# Create DF with Dups

DupDF = DataFrame({'k1': ['one'] * 3 + ['two'] * 4,
                  'k2': [1, 1, 2, 3, 3, 4, 4]})

DupDF

# Check if Each row is duplicated row or not 
DupDF.duplicated()

# Remove Duplicate Rows 
NoDup = DupDF.drop_duplicates()
NoDup

In [ ]:
# Create Additional Column 
DupDF['NewCOl'] = range(7)
DupDF

# Now Drop duplicates based on values in first col only 
NoDup1 = DupDF.drop_duplicates(['k1'])
NoDup1

In [ ]:
#  Replace missing values 
DF1data = Series([1., -999., 2., -999., -1000., 3.])
DF1data


# Replace -999  with NA's 
DF2data = DF1data.replace(-999, np.nan)
DF2data

### Discretization and Binning

In [8]:
# Create Input Set 
Ser1 = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
# Define bin ranges  
Ser1_bins = [18,25,35,65,100]

# Allocate data to bins 
Ser1_Binned = cut(Ser1,Ser1_bins)

# Check data type : will be categorical 
type(Ser1_Binned)

pandas.core.arrays.categorical.Categorical

In [ ]:
# Generate Frequency table : Type is Series 
Ser1_freq = value_counts(Ser1_Binned)
Ser1_ind = Ser1_freq.index

# Create Data frame with Freq Table Information 
Freq_Table_DF = DataFrame({'Bin':Ser1_freq.index, 'Count':Ser1_freq.values})
Freq_Table_DF

In [9]:
# Change Bin Names to meaningful ones 
bin_names = ['Youth', 'Young Adult', 'Middle Age', 'Senior Citizen']
Ser2_Binned = cut(Ser1,Ser1_bins,labels= bin_names)
Ser2_freq = value_counts(Ser2_Binned)
Ser2_ind = Ser2_freq.index
Freq_Table_DF_Named = DataFrame({'Bin':Ser2_freq.index, 'Count':Ser2_freq.values})
# Display 
Freq_Table_DF_Named

              Bin  Count
0           Youth      5
1      Middle Age      4
2     Young Adult      3
3  Senior Citizen      0

### Outlier handling

In [ ]:
# Set Seed
random.seed(123) 
# Create a Dataframe of dimension 4 COlumns having 1000 rows of random values each 
DF1 = DataFrame(random.randn(1000,4))
DF1

# Capture all rows which  has abs value greater than 3 
DF1_GT3 = DF1[(abs(DF1)>3).any(1)]
DF1_GT3

### Permutation and Random sampling

In [ ]:
#Create a  data Frame -  5 Rows For Columns 
DF1 = DataFrame(arange(5*4).reshape(5,4))
DF1
# Create a Random Permutation of Row Length 
Sequence1 = random.permutation(5)
Sequence1
#  Change DataFrame Row Positions per sequence
DF2 = DF1.take(Sequence1)
DF2
#-----------------------------------------------------

### Dummy variable creation

In [ ]:
# Create a Column of Categorical Data 

DF1 = DataFrame({'key': ['b', 'b', 'a', 'c', 'a', 'b'],
                 'data1': range(6)})
DF1
# Note that the Col <key> has categorical data 
#Now we create dummy columns  for the categorical data 

DummyDF = get_dummies(DF1['key'])
DummyDF

### End of Module 6 - Data Manipulation