In [1]:
import pandas as pd

In [7]:
weather  = pd.read_csv("weather_data.csv")
weather

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           31          2  Sunny

In [5]:
#using dictionary
weather_dict = {'day':['01/01/2017','01/02/2017'],'temperature':[32,25]}
df = pd.DataFrame(weather_dict)
df

          day  temperature
0  01/01/2017           32
1  01/02/2017           25

In [8]:
weather.shape

(6, 4)

In [9]:
weather.head() #first five

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain

In [10]:
weather.head(2) #first five

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny

In [12]:
weather.tail()

          day  temperature  windspeed  event
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           31          2  Sunny

In [14]:
weather.tail(1)

          day  temperature  windspeed  event
5  01/06/2017           31          2  Sunny

In [16]:
#indexing 
weather[2:5]

          day  temperature  windspeed event
2  01/03/2017           28          2  Snow
3  01/04/2017           24          7  Snow
4  01/05/2017           32          4  Rain

In [18]:
weather.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [19]:
weather['day']

0    01/01/2017
1    01/02/2017
2    01/03/2017
3    01/04/2017
4    01/05/2017
5    01/06/2017
Name: day, dtype: object

In [22]:
weather[['day','event']]

          day  event
0  01/01/2017   Rain
1  01/02/2017  Sunny
2  01/03/2017   Snow
3  01/04/2017   Snow
4  01/05/2017   Rain
5  01/06/2017  Sunny

In [24]:
weather.day

0    01/01/2017
1    01/02/2017
2    01/03/2017
3    01/04/2017
4    01/05/2017
5    01/06/2017
Name: day, dtype: object

In [26]:
type(weather.day)

pandas.core.series.Series

In [27]:
weather

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           31          2  Sunny

In [29]:
weather['temperature'].min()

24

In [30]:
weather['temperature'].max()

35

In [32]:
weather['temperature'].describe()

count     6.000000
mean     30.333333
std       3.829708
min      24.000000
25%      28.750000
50%      31.500000
75%      32.000000
max      35.000000
Name: temperature, dtype: float64

In [33]:
weather.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [34]:
#conditional select
weather

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           31          2  Sunny

In [38]:
weather[weather['temperature'] >= 32]

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
4  01/05/2017           32          4   Rain

In [40]:
weather[weather['temperature'] >= weather['temperature'].max()]

          day  temperature  windspeed  event
1  01/02/2017           35          7  Sunny

In [43]:
weather[['day','temperature']][weather['temperature'] >= weather['temperature'].max()]

          day  temperature
1  01/02/2017           35

In [44]:
weather.index

RangeIndex(start=0, stop=6, step=1)

In [46]:
weather

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           31          2  Sunny

In [49]:
weather.set_index('day',inplace=True)

In [50]:
weather

            temperature  windspeed  event
day
01/01/2017           32          6   Rain
01/02/2017           35          7  Sunny
01/03/2017           28          2   Snow
01/04/2017           24          7   Snow
01/05/2017           32          4   Rain
01/06/2017           31          2  Sunny

In [51]:
weather.loc['01/01/2017']

temperature      32
windspeed         6
event          Rain
Name: 01/01/2017, dtype: object

In [55]:
weather.reset_index(inplace=True)

In [56]:
weather

          day  temperature  windspeed  event
0  01/01/2017           32          6   Rain
1  01/02/2017           35          7  Sunny
2  01/03/2017           28          2   Snow
3  01/04/2017           24          7   Snow
4  01/05/2017           32          4   Rain
5  01/06/2017           31          2  Sunny

In [59]:
weather_xlxs = pd.read_excel("weather_data.xlsx")

In [60]:
# using excel
weather_xlxs.head()

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow
3 2017-04-01           24          7   Snow
4 2017-05-01           32          4   Rain

In [63]:
# using Dictionary
weather_dict = {'day':['01/01/2017','01/02/2017'],'temperature':[32,25]}
df = pd.DataFrame(weather_dict)
df

          day  temperature
0  01/01/2017           32
1  01/02/2017           25

In [65]:
#using tuple
tp = [('01/01/2017',32),('01/02/2017',33),('01/03/2017',34)]
pd.DataFrame(tp,columns=['day','temperature'])

          day  temperature
0  01/01/2017           32
1  01/02/2017           33
2  01/03/2017           34

In [69]:
# using list dict
ls = [{'day':'01/01/2017','temperature':31},{'day':'01/02/2017','temperature':25}]
pd.DataFrame(ls)

          day  temperature
0  01/01/2017           31
1  01/02/2017           25